* {

}

@font-face {
  font-family: 'UntitledSans';
  src: url('../fonts/UntitledSans-Regular.otf');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'UntitledSans';
  src: url('../fonts/UntitledSans-RegularItalic.otf');
  font-style: italic;
  font-weight: 200;
}

$bgcolor: white;
$blue: #3333FF;
$black: #000000;
$grey: #595959;
$lightblue: #DFE3F1;

$fontsizeheader: 2.5em;
$fontsizebody: 1.5em;
$fontsizesub: 1em;
$projectbody: 1.25em;

$lineheight-header: 1.5em;
$lineheightbody: 1.25em;
$lineheightsub: 0.75em;
$lineheight-projectbody: 1.6em;

$mobileheader: 2em;
$mobilebody: 1.25em;
$mobilesub: 1em;


html, .root {
  font-size: 16px;
  line-height: 27px;
}
body, .article {
  font-family: 'UntitledSans';
  font-size: 1em;
  line-height: 1.5em;
}
h1, .h1 {
  font-size: 2.5em;
  line-height: $lineheight-header;
}

h2, .h2 {
  font-size: 1.5em;
  line-height: $lineheight-header;
}

h3, .h3 {
  font-size: 1em;
  line-height: 1.25em;
}

p, .p {
  font-size: 1.5em;
  line-height: 1.31707317em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {

}

a {
  text-decoration: none;
  color: $blue;
  position: relative;
}

a:hover {
  text-decoration: none;
  color: $blue;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $blue;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

.container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 1.25em;


}

.container__navbar {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

  .container__wrapper {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 1.25em;
    padding: 1.25em 3.125em 0.75em 3.125em;
    margin-bottom: 1em;

    .home {
      grid-column: 1/3;
      font-size: $fontsizeheader;

      a::before {
        background-color: white;
      }

    }

    .work {
      grid-column: 7/9;
      font-size: $fontsizebody;
    }

    .about {
      grid-column: 9/11;
      font-size: $fontsizebody;
    }

  }
  .divider {
    border: 0.75px solid #EAEAEA;
    padding: 0;
    margin: 0em 3.125em 0em 3.125em;

  }

  @media screen and (max-width: 800px) {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 1em;
    padding: 1.875em 1.5em 0em 1.5em;

    .home {
      grid-column: 1/1;
      font-size: $mobileheader;

      a::before {
        background-color: white;
      }
    }

    .work {
      grid-column: 4/5;
      font-size: $mobilebody;
    }

    .about {
      grid-column: 5/6;
      font-size: $mobilebody;
    }
  }
}


/* end general css */
/* anything below this line is specific css */



/* css for work.html */
.container__work {

  margin-top: 5em;


  ul {

  }

  li {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 0.25em;
    padding: 1.75em 3.125em 1.25em 3.125em;

    .project-description {
      display: none;

      animation: 1s fadeIn;
      animation-fill-mode: forwards;

      visibility: hidden;
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        visibility: visible;
        opacity: 1;
      }
    }

    .work-img {
      grid-column: 5/13;
      width: 100%;
      height: auto;
      border-radius: 7px;

        img {
          width: 100%;
          border-radius: 7px;
        }

        a::before {
          display: none;
        }

      }

    .work-img:hover + .project-description{

      display: block;
      position: absolute;
      left: 3.125em;
      width: 20%;

      align-self: center;

      h2 {
        color: $black;
      }

      p {
        font-size: $fontsizesub;

      }
    }

    .project-description-mobile{
      display: none;
    }
  }

  @media screen and (max-width: 800px) {
    margin-top: 2em;

    li {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-gap: 1em;
      padding: 0.15em 1.5em 1.5em 1.5em;

      .work-img {
        grid-column: 1/5;
        width: 100%;
        height: auto;
        border-radius: 5px;

          img {
            width: 100%;
            border-radius: 5px;
          }

          a::before {
            display: none;
          }
        }

      .work-img:hover + .project-description {
        display: none;
      }

      .project-description-mobile{
        display: block;
        grid-column: 1/5;

        h2 {
          font-size: $mobilesub;
          margin-top: -0.5em;
          margin-bottom: 0em;
        }

        p {
          font-size: $mobilesub;
          color: $grey;
        }
      }
    }
  }
}

/* end css for work.html

/* css for about.html */

.container__about {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 1.25em;
  padding: 8em 3.125em 13em 3.125em;


  .description {
    grid-column: 7/13;
    color: $black;
  }

  @media screen and (max-width: 800px) {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 1em;
    padding: 0.15em 1.5em 1.5em 1.5em;

    .description {
      padding-top: 5em;

      grid-column: 1/5;
      color: $black;

      h1{
        font-size: $mobilebody;
      }
    }
  }
}
