@font-face {
  font-family: "UntitledSans";
  src: url("../fonts/UntitledSans-Regular.otf");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "UntitledSans";
  src: url("../fonts/UntitledSans-RegularItalic.otf");
  font-style: italic;
  font-weight: 200;
}
html, .root {
  font-size: 16px;
  line-height: 27px;
}

body, .article {
  font-family: "UntitledSans";
  font-size: 1em;
  line-height: 1.5em;
}

h1, .h1 {
  font-size: 2.5em;
  line-height: 1.32786885em;
}

h2, .h2 {
  font-size: 1.5em;
  line-height: 1.31707317em;
}

h3, .h3 {
  font-size: 1em;
  line-height: 1.25em;
}

p, .p {
  font-size: 1.5em;
  line-height: 1.31707317em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #3333FF;
  position: relative;
}

a:hover {
  text-decoration: none;
  color: #3333FF;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3333FF;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

.container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 1.25em;
}

.container__navbar {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 1.25em;
  padding: 1.875em 3.125em 0em 3.125em;
}
.container__navbar .home {
  grid-column: 1/3;
  font-size: 2.5em;
}
.container__navbar .home a::before {
  background-color: white;
}
.container__navbar .work {
  grid-column: 7/9;
  font-size: 1.5em;
}
.container__navbar .about {
  grid-column: 9/11;
  font-size: 1.5em;
}
@media screen and (max-width: 800px) {
  .container__navbar {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 1em;
    padding: 1.875em 1.5em 0em 1.5em;
  }
  .container__navbar .home {
    grid-column: 1/1;
    font-size: 2em;
  }
  .container__navbar .home a::before {
    background-color: white;
  }
  .container__navbar .work {
    grid-column: 4/5;
    font-size: 1.25em;
  }
  .container__navbar .about {
    grid-column: 5/6;
    font-size: 1.25em;
  }
}

/* end general css */
/* anything below this line is specific css */
.container__page {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 1.25em;
  grid-row-gap: 5em;
  padding: 1.875em 3.125em 1.875em 3.125em;
}
.container__page .page-title {
  grid-column: 7/11;
  margin-bottom: -3em;
}
.container__page .page-title h3 {
  transform: translate(0, -0.5em);
}
.container__page .banner-image {
  grid-column: 1/13;
}
.container__page .banner-image img {
  width: 100%;
  border-radius: 7px;
}
.container__page .banner-image video {
  width: 100%;
  border-radius: 7px;
}
.container__page .page-image-full {
  grid-column: 1/13;
}
.container__page .page-image-full img {
  width: 100%;
  border-radius: 7px;
}
.container__page .page-image-full video {
  width: 100%;
  border-radius: 7px;
}
.container__page .page-description {
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 1.25em;
}
.container__page .page-description .column1 {
  font-size: 1.5em;
  line-height: 1.31707317em;
  color: #000000;
  grid-column: 1/3;
}
.container__page .page-description .column2 {
  font-size: 1.5em;
  line-height: 1.31707317em;
  grid-column: 3/7;
}
.container__page .page-description .column3 {
  font-size: 1.5em;
  line-height: 1.31707317em;
  grid-column: 7/12;
}
.container__page .page-description-image {
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 1.25em;
}
.container__page .page-description-image .column1 {
  font-size: 1.5em;
  line-height: 1.31707317em;
  color: #000000;
  grid-column: 1/3;
}
.container__page .page-description-image .column2 {
  grid-column: 3/13;
}
.container__page .page-description-image .column2 img {
  width: 100%;
  border-radius: 7px;
}
.container__page .page-description-image .column2 video {
  width: 100%;
  border-radius: 7px;
}
.container__page .page-description-image .column3 {
  grid-column: 7/13;
}
.container__page .page-description-image .column3 img {
  width: 100%;
  border-radius: 7px;
}
.container__page .page-description-image .column3 video {
  width: 100%;
  border-radius: 7px;
}
.container__page .previous-next {
  grid-column: 1/13;
  text-align: right;
}
@media screen and (max-width: 800px) {
  .container__page {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    padding: 0.15em 1.5em 1.5em 1.5em;
  }
  .container__page .page-title {
    margin-bottom: 0em;
  }
  .container__page .page-title h1 {
    font-size: 2em;
    line-height: 1.32786885em;
  }
  .container__page .page-title h3 {
    transform: translate(0, -0.5em);
  }
  .container__page .banner-image img {
    width: 100%;
    border-radius: 5px;
  }
  .container__page .banner-image video {
    width: 100%;
    border-radius: 5px;
  }
  .container__page .page-image-full img {
    width: 100%;
    border-radius: 7px;
  }
  .container__page .page-image-full video {
    width: 100%;
    border-radius: 7px;
  }
  .container__page .page-description {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .container__page .page-description .column1 {
    font-size: 1em;
    line-height: 1.31707317em;
    color: #000000;
  }
  .container__page .page-description .column2 {
    font-size: 1em;
    line-height: 1.31707317em;
    color: #8B8B8B;
  }
  .container__page .page-description .column3 {
    font-size: 1em;
    line-height: 1.31707317em;
    color: #8B8B8B;
  }
  .container__page .page-description-image {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .container__page .page-description-image .column1 {
    font-size: 1em;
    line-height: 1.31707317em;
    color: #000000;
  }
  .container__page .page-description-image .column2 {
    font-size: 1em;
    line-height: 1.31707317em;
    color: #8B8B8B;
  }
  .container__page .page-description-image .column2 img {
    width: 100%;
    border-radius: 7px;
  }
  .container__page .page-description-image .column2 video {
    width: 100%;
    border-radius: 7px;
  }
  .container__page .page-description-image .column3 {
    font-size: 1em;
    line-height: 1.31707317em;
    color: #8B8B8B;
  }
  .container__page .page-description-image .column3 img {
    width: 100%;
    border-radius: 7px;
  }
  .container__page .page-description-image .column3 video {
    width: 100%;
    border-radius: 7px;
  }
  .container__page .previous-next {
    grid-column: 1/5;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
